@use "../abstracts/config";

// Languages
.languages {
  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
  }

  .card {
    padding: 20px;
  }

  &__card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: translateY(-15px);
    }

    &-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
